<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">


    <select id="selectAny" resultType="com.example.pojo.User">
        select *
        from test_user
        <where>
            <if test="userName != null and userName != ''">
                and test_user.userName = #{userName}
            </if>
            <if test="name != null and name != ''">
                and test_user.name = #{name}
            </if>
            <if test="age != null  ">
                and test_user.age = #{age}
            </if>
            <if test="sex != null and sex != ''">
                and test_user.sex = #{sex}
            </if>
            <if test="isMry != null ">
                and test_user.isMry = #{isMry}
            </if>
        </where>
    </select>

    <select id="selectAll" resultType="com.example.pojo.User">
        select * from test_user
    </select>

    <select id="selectUserById" resultType="com.example.pojo.User">
        select * from test_user where id=#{id}
    </select>

    <insert id="addUser" parameterType="com.example.pojo.User">
        insert into test_user(id,userName,name,age,sex,isMry)
        values(#{id},#{userName},#{name},#{age},#{sex},#{isMry})
    </insert>

    <update id="updateUser" parameterType="com.example.pojo.User">
        update test_user set
        username=#{userName},name=#{name},age=#{age},sex=#{sex},isMry=#{isMry}
        where id= #{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from test_user where id=#{id}
    </delete>

    <select id="selectUserByName" resultType="com.example.pojo.User">
        select * from test_user where name=#{name}
    </select>


</mapper>
